# VS code settings and .log files
*.log
.vscode/

# import files and .import folder
project_folder/.import/
*.import

# cache files
project_folder/.godot/

# save files for testing
project_folder/save_files/
project_folder/project_settings.tres

# gut settings and useless for the developement
project_folder/.gut_editor_shortcuts.cfg


# binary
build/bin/linux/
build/bin/windows/
